html {
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
}

a {
	background-color: transparent;
	cursor: pointer;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

b,
strong {
	font-weight: bold;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* .ellipsis {
	white-space: nowrap; 
	text-overflow: ellipsis; 
	overflow: hidden;
} */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #000;
	background: #fff;
	font: 16px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
	display: inline-block;
}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	color: #000;
}

.wrapper {
	width: 428px;
	height: 320px;
	display: inline-block;
	margin: 0;
	position: relative;
	overflow: hidden;
	border: 1px solid #000;
}

.cover {
	min-width: 910px;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	animation-name: cover;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation: cover 5s linear 1s 3 forwards;

}

@keyframes cover {
	0%, 40% {
		transform: translate(0, 0);
	}

	 60% {
		transform: translate(-200px, 0);
	} 
	
	100% {
		transform: translate(-220px, 0);
	}
} 
	
.container {
	position: absolute;
	width: 100%;
	height: 290px;
	top: 15px;
	left: 0;
	margin-left: 15px;
}
	/* animation-name: moveLeft;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: 1;
	-webkit-animation: moveLeft 5s linear 1s;
}

@keyframes moveLeft {
	0% {
		transform:translateX(0px);
	}
	50% {
		transform: translateX(-200px);
	}
	100% {
		transform: translateX(-420px);
	}
}
 */
.energy {
	position: absolute;
	width: 180px;
	height: 110px;
	top: 90px;
	left: 207px;
	animation-name: moveEnergy;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;

	-webkit-animation-name: moveEnergy;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 0.1s;
}

@keyframes moveEnergy {
	0% {
		transform:translateX(320px);
	}
	75% {
		transform:translateX(-10px);
	}
	
	100% {
		transform:translateX(0px);
	}
}

.run {
	animation-name: run;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	-webkit-animation-name: run;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
}

@keyframes run {
	0% {
		transform:translateX(300px);
	}
	75% {
		transform:translateX(0px);
	}
	
	100% {
		transform:translateX(0px);
	}
}
 
.logo {
	position: fixed;
	width: 70px;
	height: 70px;
	top: 245px;
	left: 325px;
}

.urban {
	position: absolute;
	top: 0;
	left: 230px;
	animation-name: moveUrban;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 2.4s;
	-webkit-animation-name: moveUrban;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2.4s;
}

@keyframes moveUrban {
	0% {
		transform:translateX(200px);
	}
	75% {
		transform:translateX(0px);
	}
	
	100% {
		transform:translateX(0px);
	}
}

.new {
	position: absolute;
    top: 50px;
    left: -35px;
    width: 210px;
	animation-name: moveNew;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	-webkit-animation-name: moveNew;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2.5s;
}
 
@keyframes moveNew {
	0% {
		transform:translateX(320px);
	}
	75% {
		transform:translateX(-10px);
	}
	
	100% {
		transform:translateX(0px);
	}
}

.ultraboost {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 170px;	
	animation-name: moveUltraboost;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	-webkit-animation-name: moveUltraboost;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2.5s;
}

@keyframes moveUltraboost {
	0% {
		transform:translateX(360px);
	}
	75% {
		transform:translateX(-10px);
	}
	
	100% {
		transform:translateX(0px);
	}
}

span .btn {
	width: 125px;
	height: 37px;
	background-color: #000;
	position: absolute;
	top: 180px;
	left: 10px;
	animation-name: moveBtn;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	-webkit-animation-name: moveBtn;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2.5s;
}

@keyframes moveBtn {
	0% {
		transform:translateX(490px);
	}
	75% {
		transform:translateX(-10px);
	}
	
	100% {
		transform:translateX(0px);
	}
}

.btn::after {
	content: '';
	width: 125px;
	height: 37px;
	position: absolute;
	top: 6px;
	left: 5px;
	border: 1px solid #000;
}
.btn:hover {
	top: 183px;
	left: 13px;
	position: absolute;
}
.btn:hover::after {
	top: 0;
	left: 0;
}
.btn, .btn:hover, .btn::after {
	transition: all 0.3s ease-in-out;
}

.shopNow {
	position:absolute;
	top: 15px;
	left: 15px;
	width: 60px;
}

.arrow {
	position: absolute;
	top: 15px;
	left: 90px;
	width: 17px;
}



